@use "partial"; /* Partial fil hentes ind som et modul - gør det muligt at hente og genbruge variabler, mixins og funktioner i andre filer */

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: partial.$bg;
    display: flex;
    flex-direction: column; //Header > main > footer rækkefølge
    font-family: partial.$font;
    min-height: 100vh; //fylder altid hele skærmen
    
    h1,h2,h3,h4 {
        color: partial.$textColor;
        font-weight: 600;
    }

    p, a{
        color: partial.$textColor;
        font-size: 16px;
        line-height: 1.5;
    }
}

main{
    flex: 1; //Presser footer ned og undgår overlap
}

img {
    height: auto;
    max-width: 100%;
}

// HEADER //
header{
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 11vh;
    margin: 1em;
    padding: 0 2em;
}

// NAVIGATION// 
nav{
    width: 100%;
    @include partial.flex($justify: space-between);
    
    img{
        width: 200px;
    }


    ul{
        list-style-type: none;
        @include partial.flex;
        padding: 0;

        li{
            margin: 1em;
        }
    }

    a{
        color: partial.$primaryColor;
        display: block;
        font-size: 16px;
        padding: 0.5em;
        text-decoration: none;
            
            &:hover{
                cursor: pointer;
                font-weight: bold;    
            }
    }
}

.burger{
            display: none;
        }

// HERO SEKTION // 
.hero-sektion{
    @include partial.flex; //centrerer
    flex-direction: column; //under hinanden
    gap: 1em; //plads mellem teksterne og knap
    height: 50vh;
    text-align: center;
    
        h1, p{
            color: partial.$primaryColor;
            max-width: 550px;
        }

        .btn-hero{
            background-color: #fff;
            border: 2.5px solid partial.$primaryColor;
            border-radius: 30px;
            color: partial.$secondaryColor;
            font-size: 16px;
            font-weight: bold;
            padding: 1em 1.5em;
            
                &:hover{
                    background-color: partial.$primaryColor;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.3s ease;
                }

        }

}

//TEKST & BILLEDE SEKTION
.tekst-img-sektion{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 50vh;
    margin-bottom: 5em;
}

.computer-billede{
    background-image: url(../img/computer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/4;
}

.tekst{
    background-color: partial.$primaryColor;
    grid-column: 4/7;
    padding: 4em;

        h2{
            margin-bottom: 0.5em;
            text-align: center;
        }

        h2, p{
            color: partial.$bg;
        }

        p{
            margin-bottom: 1em; //plads mellem p sektioner
        }
}

//STAGES
.stage { //generel styling af området
    @include partial.flex; //centrerer
    flex-direction: column;
    gap: 0.5em;
    margin: 3em auto; // centrerer
    max-width: 550px; // fylder max 550px
    min-height: 70vh;
    text-align: center;

    p{
        margin-bottom: 1em;
    }

    button {
        background-color: partial.$secondaryColor;
        border: none;
        border-radius: 100px;
        color: #fff;
        padding: 1.5em;

            &:hover {
                background-color: #fff;
                border: 2px solid;
                color: partial.$secondaryColor;
            }
    }
    
}

.start-stage button, .resultat-stage button{
        background-color: partial.$primaryColor;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 1em 3em;
    }

.spørgsmål-stage{ //styling af spørgsmål stages
    button{
        font-size: 16px;
        max-width: 400px;
        text-align: left;
        width: 100%; 
    }
}

.resultat-stage{ //styling af resultat stages
    gap: 1em;

    .text-box{
        background-color: partial.$secondaryColor;
        border-radius: 20px;
        height: auto;
        margin-bottom: 2em;
        padding: 1.5em;
        text-align: left; 
    }

    p{
        color: white;
        font-size: 14px;
    }
}

//FOOTER
footer{
    background-color: partial.$secondaryColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 1em;

    h3, p{
            color: #fff;
            font-style: normal;
            font-size: 16px;
            line-height: 1.5;
        }

    a{
        color: #fff;
        transition: 0.3s;

            &:hover{
                color: #42b393;
            }
    }
}

.footer-venstre ul{
 list-style: none;
 padding: 0;
}

.logo-footer{
    align-self: center;
    justify-self: center;
    height: auto;
    width: 250px;
}

.footer-højre{
    margin: auto 0;
    text-align: right;
}


//MOBIL VERSION
@media (max-width: 768px) {

//HEADER
nav {
    position: relative;

    .burger {
        background: none;
        border: none;
        color: partial.$primaryColor;
        cursor: pointer;
        display: block; //knappen bliver synlig igen
        font-size: 24px;
    }

    .nav-links {
        align-items: center;
        background: white;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.15);
        display: none; // skjult før klik
        flex-direction: column;
        position: absolute; //kommer frem ovenpå
        top: 100%; //starter under nav
        width: 100%;

        li {
            margin: 0;
            text-align: center;
            width: 100%;

                a{
                    border-radius: 20px;
                    display: block;
                    padding: 1em;
                    transition: 0.3s ease;

                    &:hover{
                        background-color: rgba(0,0,0,0.1);
                    }
                }
        }

        &.active{ //når knappen klikkes sker dette pga. toggle i javascript
            display: flex;
        }
    }
}

//HERO SEKTION
    .hero-sektion { //gør telsten mindre klemt med mere plads
        height: auto; //tilpasser sig indholdet
        padding: 2em 1em;
    }

//TEKST & BILLEDE SEKTION
    .tekst-img-sektion {
        grid-template-columns: 1fr; //går fra 6 kolonner til 1 kolonne
        height: auto;
    }

    .computer-billede {
        grid-column: auto;
        height: 40vh;
    }

    .tekst {
        grid-column: auto;
        padding: 2em;
    }

//STAGES
    .stage {
        margin: 2em auto;
        max-width: 90%; //fylder det meste af skærmen
    }

    .spørgsmål-stage button {
        width: 100%; //knappen fylder den fulde bredde
    }

//FOOTER
    footer {
        @include partial.flex; //centrerer
        height: 15vh;
    }

    .footer-venstre, .footer-højre {
        display: none;
    }
}