@use "partial"; /* Partial fil hentes ind som et modul - gør det muligt at hente og genbruge variabler, mixins og funktioner i andre filer */

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: partial.$bg;
    font-family: partial.$font;
    p, a{
        font-size: 16px;
        color: partial.$textColor;
        line-height: 1.5;
    }

    h1,h2,h3,h4 {
        font-weight: 600;
        color: partial.$textColor;
    }
}

img {
    max-width: 100%;
    height: auto;
}

// HEADER //
header{
    display: flex;
    align-items: center;
    height: 11vh;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin: 1em;
    padding: 0 2em;
}

// NAVIGATION// 
nav{
    width: 100%;
    @include partial.flex($justify: space-between);
    
    img{
        width: 200px;
    }

    #bars{ //burgermenu
        display: none;
    }

    ul{
        list-style-type: none;
        @include partial.flex;
    }

    a{
        color: partial.$primaryColor;
        padding: 0.5em;
        margin: 0.5em;
        font-size: 16px;
        text-decoration: none;
            
                &:hover{
                    font-weight: bold;
                    cursor: pointer;
                    
                }
    }
    .active{
        font-weight: bold;
    }
}

// HERO SEKTION // 
.hero-sektion{
    @include partial.flex; //centrerer
    flex-direction: column; //under hinanden
    height: 50vh;
    text-align: center;
    gap: 1em; //plads mellem teksterne og knap
    
        h1, p{
            color: partial.$primaryColor;
            max-width: 550px;
        }

        .btn-hero{
            background-color: #fff;
            border: 2.5px solid partial.$primaryColor;
            border-radius: 30px;
            color: partial.$secondaryColor;
            font-size: 16px;
            font-weight: bold;
            padding: 1em 1.5em;
            
                &:hover{
                    background-color: partial.$primaryColor;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.3s ease;
                }

        }

}

//TEKST & BILLEDE SEKTION
.tekst-img-sektion{
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 50vh;
    margin-bottom: 5em;
}

.computer-billede{
    grid-column: 1/4;
    background-image: url(../img/computer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tekst{
    grid-column: 4/7;
    background-color: partial.$primaryColor;
    padding: 4em;

    
        h2, p{
            color: partial.$bg;
        }

        h2{
            text-align: center;
            margin-bottom: 0.5em;
        }

        p{
            margin-bottom: 1em; //plads mellem p sektioner
        }

}

//STAGES

.stage { //generel styling af området
    @include partial.flex; //centrerer
    flex-direction: column;
    text-align: center;
    min-height: 70vh;
    max-width: 550px; // fylder max 550px
    margin: 3em auto; // centrerer 
    
    /*padding: 14em 0;*/
    gap: 0.5em;

    p{
        margin-bottom: 1em;
    }

    button {
        background-color: partial.$secondaryColor;
        border: none;
        border-radius: 100px;
        color: #fff;
        padding: 1.5em;
    }
    button:hover {
        background-color: #fff;
        color: partial.$secondaryColor;
        border: 2px solid;
    }
}

.start-stage button, .resultat-stage button{
        display: block;
        padding: 1em 3em;
        font-size: 20px;
        font-weight: bold;
        background-color: partial.$primaryColor;
    }

.spørgsmål-stage{ //styling af spørgsmål stages
    button{
        font-size: 16px;
        width: 400px;
        text-align: left;
    }
}

.resultat-stage{ //styling af resultat stages
    gap: 1em;
    .text-box{
        background-color: partial.$secondaryColor;
        text-align: left;
        border-radius: 20px;
        padding: 1.5em;
        height: 50vh;
        margin-bottom: 2em;
    }

    p{
        color: white;
        font-size: 14px;
    }
}



//FOOTER

footer{
    grid-column: 1/4;
    background-color: partial.$secondaryColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 1em;

    p, h3{
            color: #fff;
            line-height: 1.5;
            font-style: normal;
            font-size: 16px;
        }

        a{
            transition: 0.3s;
            color: #fff;
                &:hover{
                    color: #42b393;
                }
        }

}

.footer-venstre ul{
 list-style: none;
 padding: 0;
}

.logo-footer{
    align-self: center;
    justify-self: center;
    width: 250px;
    height: auto;
}

.footer-højre{
    text-align: right;
    margin: auto 0;
}
